{% extends 'index.html' %}

{% block header %}{% endblock %}
{%block results %}{% endblock %}
{% block content %}
<section class="container container-fluid mb-5  mt-5 pt-5">
    <div class=""><h1 class="text-light text-center">Categorías</h1></div>
{% if categories  %}
    <div class="row  mt-5 mb-5  ">
        {% for category in categories %}
        <div class=" col-md-6 col-lg-4 col-sm-12 mt-5 mb-5  " >
            <div class="card" >
                <img class="card-img" src="{{category.image.url}}" alt="{{category.name}}" style="min-height: 236px;max-height:236px">
                <div class="card-body card-body1">
                  <h5 class="card-title text-center">{{ category.name }}</h5>
                  <!-- <div class="card-text text-center"> <a href="" class="">{{post.author.name}} {{post.autor.surname}}</a> -->
                <p class="text-center">{{category.create_date | date:"D d M Y"}} {{ category.create_date|time:"H:i" }}</p>
                </div>
                    <p class="text-dark"></p>
                  <div class="text-center "><a href="{% url 'bases:category' category.pk %}" class="btn text-success bg-dark mb-3">Leer</a></div>
                </div>
              </div>
        {% endfor %}

        </div>
{% else %}
<h1 class="alert alert-success">No hay categorías disponibles</h1>
{% endif %}


</section>
{% endblock %}
